{
   "name": "{{ dns.clusterid }}",
   "openshift_version": "{{ openshift_version }}",
   "base_dns_domain": "{{ dns.domain | lower }}",
   "cpu_architecture": "{{ rhcos_arch }}",
   {% if masters | length == 1 %}
   "high_availability_mode": "None",
   {% else %}
   "high_availability_mode": "Full",
   {% endif %}
  {% if (assisted_net_dualstack|bool) and (not assisted_dualstack_patch|bool) %}
  "cluster_networks": [
  {
     "cidr": "10.128.0.0/14",
     "host_prefix": 23
  },
  {
     "cidr": "fd01::/48",
     "host_prefix": 64
  }
  ],
  "service_networks": [
  {
     "cidr": "172.30.0.0/16"
  },
  {
     "cidr": "fd02::/112"
  }
  ],
  "machine_networks": [
  {
     "cidr": "{{ dhcp.subnet }}"
  },
  {
     "cidr": "{{ baremetal_network.ipv6 }}"
  }
  ],
  {% if not assisted_sno_deployment|bool %}
  {% if vm_platform == "VMware" %}
  "api_vip": "{{ vmware_api_vip }}",
  "ingress_vip": "{{ vmware_ingress_vip }}",
  {% else %}
  {% if openshift_version == "4.12" %}
  "api_vip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.api_vip.ipv4) | ipaddr('address') }}",
  "api_vips": [
  {
  "ip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.api_vip.ipv4) | ipaddr('address') }}"
  },
  {
  "ip": "{{ baremetal_network.ipv6 | ipaddr(baremetal_network.api_vip.ipv6) | ipaddr('address') }}"
  }
  ],
  "ingress_vip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.ingress_vip.ipv4) | ipaddr('address') }}",
  "ingress_vips": [
  {
  "ip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.ingress_vip.ipv4) | ipaddr('address') }}"
  },
  {
  "ip": "{{ baremetal_network.ipv6 | ipaddr(baremetal_network.ingress_vip.ipv6) | ipaddr('address') }}"
  }
  ],
  {% else %}
  "api_vip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.api_vip.ipv4) | ipaddr('address') }}",
  "ingress_vip": "{{ baremetal_network.ipv4 | ipaddr(baremetal_network.ingress_vip.ipv4) | ipaddr('address') }}",
  {% endif %}
  {% endif %}
  {% endif %}
  {% else %}
  "cluster_network_cidr": "10.128.0.0/14",
  "cluster_network_host_prefix": 23,
  "service_network_cidr": "172.30.0.0/16",
  "ingress_vip": "",
  {% endif %}
  
   "vip_dhcp_allocation": false,
   "network_type": "{{ cni_network_provider }}",
   "ssh_public_key": "{{ public_ssh_key }}",
   "pull_secret": {{ pull_secret | to_json }}
}